apiVersion: apps/v1
kind: Deployment
metadata:
  name: external-dns
  namespace: external-dns
spec:
  replicas: 1
  selector:
    matchLabels:
      app: external-dns
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: external-dns
    spec:
      serviceAccountName: external-dns
      containers:
        - name: external-dns
          image: registry.k8s.io/external-dns/external-dns:v0.14.0
          args:
            - --source=ingress
            - --source=crd
            - --crd-source-apiversion=externaldns.alpha.kubernetes.io/v1alpha1
            - --crd-source-kind=DNSEndpoint
            - --provider=cloudflare
            - --domain-filter=andresmendez.dev
            - --domain-filter=andresfelipemendez.com
            - --domain-filter=castercatcrew.com
            - --policy=upsert-only
            - --registry=txt
            - --txt-owner-id=k8s-cluster
            - --interval=1m
          env:
            - name: CF_API_TOKEN
              valueFrom:
                secretKeyRef:
                  name: cloudflare-api-token
                  key: api-token
          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
            limits:
              memory: "128Mi"
              cpu: "100m"
